<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
        </header>
        <aside>
            <h1>Mis autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <img src="../static/img/image.jpeg" alt="Carro Color Negro"/>
            <h2>Martes</h2>
             <img src="https://www.record.com.mx/sites/default/files/articulos/2023/03/30/hennessey_venom_f5_roadster-6.jpg" width="300" alt=""/>
        </section>
        <footer>
            <h3> Todos los derechos reservados TechShop 2025 &COPY;</h3>
        </footer>
    </body>
</html>
