<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Multimedia</h1>
        </header>
        <aside>
            <h1>Multimedia</h1>
            <p>Incorporación de recursos multimedia en el sitio web</p>
        </aside>
        <section>
            <h2>Uso de multimedoa</h2>
            <article> 
                <h3>Musica Celta </h3>
                <audio controls>
                    <source src="../static/audio/musica.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
            <article> 
                <h3>Peliculas de acción</h3>
                <video width="320" height="240" controls>
                    <source src="../static/video/torpedo.mp4" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
            </article>
        </section>
        <footer>
            <h3> Todos los derechos reservados TechShop 2025 &COPY;</h3>
        </footer>
    </body>
</html>
